body .v-data-table {
  // --v-border-color: #E9E7FD;
  // --v-border-opacity: 1;
}


.v-data-table-footer {
  justify-content: flex-start;
  flex-wrap: nowrap;
  background-color: white;
  margin-bottom: 30px;
  border-radius: 0 0 10px 10px;

  .v-data-table-footer__pagination {
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.v-slide-group__container {
  .v-btn {
    color: #8B909A;
    font-weight: normal;
    text-transform: capitalize;
  }

  .v-tab--selected {
    color: #0F60FF;
  }

  .v-tab__slider {
    background-color: #0F60FF;
  }
}